@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
/* tailwind */
#primary-menu .menu-item {
	@apply my-4 mr-4 pr-2 px-2;
}
#primary-menu .menu-item>a {
	@apply text-gray-100 py-2;
}